*{
	margin: 0px;
	padding: 0px;
	font-family: Verdana;
}
body {
	
}
.main {
	background: linear-gradient(-90deg, #282E35, #1F2227, #1F2227, #282E35);
	position: relative;
	background-size: 500% 500%;
	animation: change 6s ease-in-out infinite;
	padding-left: 8%;
}
@keyframes change {
	0% {
		background-position: 0 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0 50%;
	}
}
.cars {
	display: inline-block;
	width: 40%;
	background-color: #26292E;
	color: #FFF;
	border-radius: 5px;
	margin: 40px 40px;
	box-shadow: 8px 8px 8px #000;
	transform: translateY(0);
	transition: all .8s;
}
.cars:hover {
	transform: translateY(-10px);
	cursor: pointer;
}
.cars h3 {
	text-transform: uppercase;
	text-align: left;
	padding-left: 10px;
	font-size: 20px;
}
.first img {
	width: 100%;
	border-radius: 5px;
}
.naslov {
	text-align: center;
}
.des p {
	font-size: 16px;
	text-align: left;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 10px;
	line-height: 1.45em;
}
#divSection {
	background-image: url(images/footer.png);
}
#divSection1 {
		background-image: url(images/banner2.jpg);
	opacity: 80%;
	background-position:  center center;
	background-repeat: no-repeat;
    background-size: cover;
  	height: 800px;
}

#divHeadBarCol1 {
	display: flex;
	justify-content: space-around;
}

.headMenu {
	list-style-type: none;
	text-align: center;
}
.headMenu li {
	display: inline-block;
}
.headMenu li a {
	color: #E7E7E7;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	transform: translateY(0);
	transition: all .6s;
	margin: 0 10px;
}
.headMenu li a:hover {
	background-color: #CDCDCD;
	color: #000000;
	border-radius: 3px;
	padding: 18px 15px;
	background-color: rgb(141, 151, 153);
	transform: translateY(-5px);
}
#logos img {
	padding-top: 3px;
}

#menus {
	padding: 10px 10px;
}

#divHeroSection {

}
#divHeroSection {
	margin-bottom: 100px;
	height: 450px;
}
#divHeroSection {
	text-align: center;
	padding: 80px 0;
}
#divHeroSection h1 {

}
#divHeroSection img {
	padding-top: 150px;
}
#divHeroSection1 {
	height: 700px;
	margin: 0px auto;
}